body {
    background-color:rgb(37, 37, 37);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container {
    display: flex;
    margin: auto;
    margin-top: 2vh;
    align-items: flex-start; 
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    height: 96vh;
    width: 96vw;
    border-radius: 10px;
}

#topbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8%;
    width: 100%;
    user-select: none;
}

#question {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100%;
    font-size: 1.4vw;
}

#buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
    height: 100%;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 60%;
    border-radius: 20px;
    background-color:rgb(241, 241, 241);
    font-size: 1.3vw;
}

#interactable {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: white;
    height: 92%;
    width: 96%;
    border-radius: 10px;
}

#background{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

#graphic {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    width: 45%;
    border-radius: 10px;
}

#toolbox1 {
    display: none;
    flex-wrap: wrap;
    height: 45%;
    width: 100%;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
}

#toolbox2 {
    display: flex;
    flex-wrap: wrap;
    height: 96%;
    width: 45%;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
}

#create {
    height: 100px;
    width: 100px;
    background-color: red;
}

.ui-widget-content {
    box-shadow: none;
}

.flexbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

#earth {
    max-height: 70%;
    max-width: 100%;
}

#mars {
    display: none;
    max-height: 80%;
    max-width: 45%;
}

#draggable {
    display: none;
}