body {
    background-color:rgb(37, 37, 37);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    user-select: none;
}

#container {
    display: flex;
    margin: auto;
    margin-top: 2vh;
    align-items: flex-start; 
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    height: 96vh;
    width: 96vw;
    border-radius: 10px;
}

#topbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8%;
    width: 100%;
    user-select: none;
    background-color: red;
}

#question {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100%;
    font-size: 1.4vw;
}

#buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
    height: 100%;
}

.contentcol{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
    border-radius: 40px;
}

.planetcol {
    justify-content: flex-end;
}

.toolbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 60%;
    border-radius: 20px;
    background-color:rgb(241, 241, 241);
    font-size: 1.3vw;
}

#interactable {
    display: flex;
    background-color: white;
    height: 92%;
    width: 100%;
    border-radius: 10px;
}

#background{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

#graphic {
    display: none;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    width: 45%;
    border-radius: 10px;
}

#create {
    height: 100px;
    width: 100px;
    background-color: red;
}

.ui-widget-content {
    box-shadow: none;
}

.flexbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.planet-ozone {
    display: none;
    height: auto;
    width: 90%;
    transform: translateY(50%);
}

.planet {
    height: auto;
    width: 100%;
}

#draggable {
    display: none;
}